Dag allemaal,

De volgende mensen komen vanavond naar het feestje:

{% for friend in friends %}
  {{friend['first_name']}} {{friend['last_name']}} ({{friend['profession']}})
{%- if friend['profession']  == 'musician' %} Neem je instrument mee! :){% endif -%}

{%- if friend['children'] %}
Met de kinderen:{% endif %}
{%- for child in friend['children'] %}
- {{child}}
{%- endfor %}
{% endfor %}

Hopelijk tot vanavond,

Groet,
Guido

